body {
    background-color: antiquewhite;
}

#titles {
    position: absolute;
    left: 472px;
    top: 10px;
    font-family: "Times New Roman", serif;
}

#yetiButton {
    top: 0px;
    left: 0px;
    width: 400px;
    height: auto;
    cursor: pointer;
}

#bigfootButton {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 27%;
    cursor: pointer;
}

#lochnessButton {
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 27%;
    cursor: pointer;
}

#chupacabraButton {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 27%;
    cursor: pointer;
}



#home {
    position: absolute;
    top: 380px;
    left: 640px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    cursor: pointer;
}

.BigfootImageBorder{
    border-width: 2px;
    border-color: black;
}
